body {
  font-family: $mainFontFam;
  font-weight: $light;
  font-size: $mainFontSize;
  line-height: 1.6;
  color: $mainTextColor;
  background-color: $bgColor;
}
/*----------------------------*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // overflow: clip;
}
/*----------------------------*/
[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
/*----------------------------*/
// Property to hide an element for users
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----------------------------*/
