// Section
.section {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

// Buttons
.button {
  display: inline-block;
  padding: 13px 20px;
  min-width: 160px;
  font-weight: $medium;
  font-size: 14px;
  line-height: 1.48;
  letter-spacing: 2px;
  text-align: center;
  color: $whiteColor;
  background-color: $accentColor;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: background-color $transitionFunction,
    border-color $transitionFunction;
  &:hover,
  &:focus {
    background-color: $accentColorLight;
    border-color: $whiteColor;
  }
  @media screen and (min-width: 992px) {
    padding: 15px 29px;
  }
  &--dark {
    background-color: $bgColorGreyTransp2;
    &:hover,
    &:focus {
      background-color: $bgColorGreyTransp3;
      border-color: $colorGrey;
    }
  }
}

// Menu toggle
.icon-menu {
  display: block;
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 5;

  & span,
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $whiteColor;
    transition: transform $transitionFunction;
  }
  &::before {
    top: 0;
    .menu-open & {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }
  }
  & span {
    top: calc(50% - 1px);
    .menu-open & {
      width: 0;
    }
  }
  &::after {
    bottom: 0;
    .menu-open & {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// Title
.title {
  margin-bottom: 12px;
  font-weight: $medium;
  font-size: 32px;
  line-height: 1.2;
  color: $whiteColor;
  @media screen and (min-width: 768px) {
    font-size: 44px;
  }
  @media screen and (min-width: 992px) {
    font-size: 51px;
  }
  &--small {
    font-weight: $regular;
    font-size: 19px;
    line-height: 1.4;
    color: $whiteColor;
  }
}
// Text
.text {
  line-height: 1.5;
  color: $mainTextColor;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

// Label
.label {
  margin-bottom: 25px;
  display: inline-block;
  padding: 11px 19px;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $mainTextColor;
  border: 1px solid $bgColorGreyTransp2;
  border-radius: 12px;
}
