// Fonts
$mainFontFam: "Poppins", sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$mainFontSize: 16px;

// Color
$mainTextColor: #9c9c9c;
$accentColor: #3d96f4;
$accentColorLight: #53a3f8;
$whiteColor: #ffffff;
$colorGrey: #81818b;

$bgColor: #0d0d11;
$bgColorTransparent: rgba(13, 13, 17, 0.7);
$bgColorBlack: #000;
$bgColorGreen: #5cc97b;
$bgColorGreyTransp1: rgba(129, 129, 139, 0.1);
$bgColorGreyTransp2: rgba(129, 129, 139, 0.2);
$bgColorGreyTransp3: rgba(129, 129, 139, 0.3);
$bgColorGreyTransp5: rgba(129, 129, 139, 0.5);
$bgColorGreyTransp9: rgba(129, 129, 139, 0.9);

$transitionFunction: 300ms ease;
$gap: 32px;
